.App {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  padding: 10px;
  max-width: 600px;
  color: #002a41;
}

.borders {
  border: 2px solid #002a41;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 3px 2px 5px #434343;
}
