footer {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: small;
  font-style: italic;
  color: whitesmoke;
}

.footer-link {
  text-decoration: underline;
  color: whitesmoke;
}

.footer-link:hover {
  color: #002a41;
}
