.forecast-section {
  margin: 15px auto;
  padding: 10px 15px;
  text-align: center;
  opacity: 0.75;
}

.forecast-icon {
  font-size: 25px;
  line-height: 45px;
}

.forecast-title {
  color: #00adec;
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

.forecast-temp {
  font-weight: 500;
}

.current-icon {
  font-size: 39px;
  position: relative;
  top: 6px;
  float: left;
  margin-right: 10px;
}
